<!DOCTYPE html>
<html>
    <head>
        <title>Books</title>
        <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">
    </head>
    <body>
      <nav>
        <div class="heading">
          <ul>
            <li></li>
            <li><a href="/seasons">Seasons</a></li>
            <li><a href="/members">Lineup</a></li>
          </ul>
        </div>
      </nav>

      <div class="season">
        <h3>-Season 1-</h3>
        <div>
          <% Book.season(number: 1).each_with_index do |book, index| %>
            <p><%= index + 1 %>: <a class="book-link" href="/book/<%= book.title %>"><%= book.title %></a></p>
          <% end %>
        </div>
      </div>

      <div class="season">
        <div class="heading-lines">
          <h3 class="season-title">-Season 2-</h3>
        </div>
        <div>
          <% Book.season(number: 2).each_with_index do |book, index| %>
            <p><%= index + 1 %>: <a class="book-link" href="/book/<%= book.title %>"><%= book.title %></a></p>
          <% end %>
        </div>
      </div>

      <div class="season">
        <h3>-Season 3-</h3>
        <div>
          <% Book.season(number: 3).each_with_index do |book, index| %>
            <p><%= index + 1 %>: <a class="book-link" href="/book/<%= book.title %>"><%= book.title %></a></p>
          <% end %>
        </div>
      </div>

    </body>
</html>
