<!DOCTYPE html>
<html>
    <head>
      <title>Books</title>
      <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">
    </head>
    <body>
      <nav>
        <div class="heading">
          <ul>
            <li></li>
            <li><a href="/seasons">Seasons</a></li>
            <li><a href="/members">Lineup</a></li>
          </ul>
        </div>
      </nav>

      <% Book.each_season.map do |season_number| %>
        <div class="season">
          <div class="heading-lines">
            <h3 class="season-title">-Season <%= season_number %>-</h3>
          </div>
          <div>
            <% Book.season(number: season_number).each_with_index do |book, index| %>
              <p><%= index + 1 %>: <a class="book-link" href="/book/<%= book.title %>"><%= book.title %></a></p>
            <% end %>
          </div>
        </div>
      <% end %>

    </body>
</html>
