<!DOCTYPE html>
<html>
    <head>
      <title>Books</title>
      <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">
    </head>
    <body>
      <nav>
        <div class="heading">
          <ul>
            <li></li>
            <li><a href="/seasons">Seasons</a></li>
            <li><a href="/members">Members</a></li>
          </ul>
        </div>
      </nav>

      <div class="season">
        <h3>Current organizer:</h3> <p><%= @current_picker %></p>
      </div>

      <div class="season">
        <h3>Up next:</h3> <p><%= @up_next %></p>
      </div>

      <div class="season">
        <h3>Organizers left:</h3> <% @left_to_pick.map do |name| %>
          <p><%= name %></p>
        <% end %>
      </div>

      <div class="season">
        <h3>Past organizers:</h3> <% @already_picked.map do |name| %>
          <p><%= name %></p>
        <% end %>
      </div>
    </body>
</html>
